## Credit Default Prediction with Machine Learning

In [1]:
#import dependencies
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
print ('ready')

ready

### Loading Datasets with Pandas

In [2]:
df_train=pd.read_csv('credit_train.csv')
df_test=pd.read_csv('credit_test.csv')

### Explorative Data Analysis

In [3]:
df_train.shape

(100514, 19)

In [4]:
df_test.shape

(10353, 18)

In [5]:
df_test.columns

Index(['Loan ID', 'Customer ID', 'Current Loan Amount', 'Term', 'Credit Score',
       'Annual Income', 'Years in current job', 'Home Ownership', 'Purpose',
       'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [6]:
df_train.columns

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Annual Income', 'Years in current job',
       'Home Ownership', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [7]:
df_train.describe()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
count,1.000000e+05,80846.000000,8.084600e+04,100000.000000,100000.000000,46859.000000,100000.00000,100000.000000,1.000000e+05,9.999800e+04,99796.000000,99990.000000
mean,1.176045e+07,1076.456089,1.378277e+06,18472.412336,18.199141,34.901321,11.12853,0.168310,2.946374e+05,7.607984e+05,0.117740,0.029313
std,3.178394e+07,1475.403791,1.081360e+06,12174.992609,7.015324,21.997829,5.00987,0.482705,3.761709e+05,8.384503e+06,0.351424,0.258182
min,1.080200e+04,585.000000,7.662700e+04,0.000000,3.600000,0.000000,0.00000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.796520e+05,705.000000,8.488440e+05,10214.162500,13.500000,16.000000,8.00000,0.000000,1.126700e+05,2.734380e+05,0.000000,0.000000
50%,3.122460e+05,724.000000,1.174162e+06,16220.300000,16.900000,32.000000,10.00000,0.000000,2.098170e+05,4.678740e+05,0.000000,0.000000
75%,5.249420e+05,741.000000,1.650663e+06,24012.057500,21.700000,51.000000,14.00000,0.000000,3.679588e+05,7.829580e+05,0.000000,0.000000
max,1.000000e+08,7510.000000,1.655574e+08,435843.280000,70.500000,176.000000,76.00000,15.000000,3.287897e+07,1.539738e+09,7.000000,15.000000

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       100000 non-null  object
 1   Customer ID                   100000 non-null  object
 2   Loan Status                   100000 non-null  object
 3   Current Loan Amount           100000 non-null  float64
 4   Term                          100000 non-null  object
 5   Credit Score                  80846 non-null   float64
 6   Annual Income                 80846 non-null   float64
 7   Years in current job          95778 non-null   object
 8   Home Ownership                100000 non-null  object
 9   Purpose                       100000 non-null  object
 10  Monthly Debt                  100000 non-null  float64
 11  Years of Credit History       100000 non-null  float64
 12  Months since last delinquent  46859 non-null   float64
 13  Number of Open Accounts       100000 non-null  float64
 14  Number of Credit Problems     100000 non-null  float64
 15  Current Credit Balance        100000 non-null  float64
 16  Maximum Open Credit           99998 non-null   float64
 17  Bankruptcies                  99796 non-null   float64
 18  Tax Liens                     99990 non-null   float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [9]:
df_train.isnull().sum()

Loan ID                           514
Customer ID                       514
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [10]:
df_test.describe()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
count,1.000000e+04,8019.000000,8.019000e+03,10000.000000,10000.000000,4694.000000,10000.00000,10000.000000,1.000000e+04,1.000000e+04,9978.000000,9999.000000
mean,1.160380e+07,1077.991520,1.369106e+06,18429.671699,18.235930,34.964636,11.08410,0.165500,2.907301e+05,6.871308e+05,0.116356,0.030803
std,3.160010e+07,1477.467761,8.687557e+05,12399.956192,7.018356,21.640291,5.02338,0.500934,3.881687e+05,1.861394e+06,0.349961,0.288215
min,1.947000e+04,585.000000,8.109200e+04,0.000000,3.800000,0.000000,1.00000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,1.789480e+05,706.000000,8.483405e+05,10202.857500,13.600000,17.000000,7.00000,0.000000,1.086515e+05,2.706000e+05,0.000000,0.000000
50%,3.092760e+05,725.000000,1.168272e+06,16052.055000,17.000000,32.000000,10.00000,0.000000,2.075180e+05,4.626050e+05,0.000000,0.000000
75%,5.157075e+05,741.000000,1.664390e+06,23881.337500,21.700000,50.000000,14.00000,0.000000,3.624630e+05,7.861150e+05,0.000000,0.000000
max,1.000000e+08,7510.000000,1.781535e+07,229057.920000,62.500000,131.000000,55.00000,10.000000,1.623744e+07,1.459073e+08,5.000000,9.000000

In [11]:
df_test.isnull().sum()

Loan ID                          353
Customer ID                      353
Current Loan Amount              353
Term                             353
Credit Score                    2334
Annual Income                   2334
Years in current job             780
Home Ownership                   353
Purpose                          353
Monthly Debt                     353
Years of Credit History          353
Months since last delinquent    5659
Number of Open Accounts          353
Number of Credit Problems        353
Current Credit Balance           353
Maximum Open Credit              353
Bankruptcies                     375
Tax Liens                        354
dtype: int64

In [12]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10353 entries, 0 to 10352
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       10000 non-null  object
 1   Customer ID                   10000 non-null  object
 2   Current Loan Amount           10000 non-null  float64
 3   Term                          10000 non-null  object
 4   Credit Score                  8019 non-null   float64
 5   Annual Income                 8019 non-null   float64
 6   Years in current job          9573 non-null   object
 7   Home Ownership                10000 non-null  object
 8   Purpose                       10000 non-null  object
 9   Monthly Debt                  10000 non-null  float64
 10  Years of Credit History       10000 non-null  float64
 11  Months since last delinquent  4694 non-null   float64
 12  Number of Open Accounts       10000 non-null  float64
 13  Number of Credit Problems     10000 non-null  float64
 14  Current Credit Balance        10000 non-null  float64
 15  Maximum Open Credit           10000 non-null  float64
 16  Bankruptcies                  9978 non-null   float64
 17  Tax Liens                     9999 non-null   float64
dtypes: float64(12), object(6)
memory usage: 1.4+ MB

In [ ]:
from pandas_profiling import ProfileReport
# Generate a profile report
profile_train = ProfileReport(df_train, title='Credit_train_Pandas Profiling Report', explorative=True)
profile_test = ProfileReport(df_test, title='Credit_test_Pandas Profiling Report', explorative=True)
# Save the report to an HTML file
profile_train.to_file("pandas_profiling_report.html")
profile_test.to_file("pandas_profiling_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\LENOVO\anaconda3\lib\site-packages\scipy\stats\stats.py:4812: RuntimeWarning: overflow encountered in longlong_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

In [ ]:
profile_test

In [ ]:
profile_train

In [ ]:
### Checking for Missing data (Nans) in the datafarme using the library missingno
import missingno as msno
msno.bar(df_train)
%matplotlib inline
# Null values found in the 2 pressure columns

In [ ]:
msno.heatmap(df_train)

In [ ]:
msno.matrix(df_train)

In [ ]:
### Checking for Missing data (Nans) in the datafarme using the library missingno
import missingno as msno
msno.bar(df_test)
%matplotlib inline
# Null values found in the 2 pressure columns

In [ ]:
msno.heatmap(df_test)

In [ ]:
msno.matrix(df_test)

In [ ]:
df_train = df_train.dropna()

In [ ]:
df_test=df_test.dropna()

In [ ]:
df_train.info()

In [ ]:
df_test.info()

In [ ]:
df_train.isnull().sum()

In [ ]:
df_test.isnull().sum()

In [ ]:
df_train.shape

### Data Preparation

In [ ]:
df_train.drop_duplicates(inplace=True)

In [ ]:
df_test.drop_duplicates(inplace=True)

In [ ]:
df_train.shape

In [ ]:
df_train.columns

In [ ]:
df_test.columns

In [ ]:
###Check for Correllation

In [ ]:
correlation_matrix = df_train.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=.5)
plt.show()

In [ ]:
correlation_matrix = df_test.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=.5)
plt.show()

In [ ]:
drop_columns=['Loan ID','Customer ID',]

In [ ]:
df_test=df_test.drop(columns=drop_columns)

In [ ]:
df_train=df_train.drop(columns=drop_columns)

In [ ]:
df_train.columns

In [ ]:
sns.countplot(x='Loan Status',data=df_train)# To be treated as imbalance data set

In [ ]:
df_train.head(10)

In [ ]:
df_train['Term'].unique()

In [ ]:
df_train['Purpose'].unique()

In [ ]:
df_train['Home Ownership'].unique()

In [ ]:
df_train['Purpose'].unique()

In [ ]:
df_train['Years in current job'].unique()

In [ ]:
df_train['Years in current job'] = df_train['Years in current job'].str.extract('(\d+)').astype(float).round()

In [ ]:
df_train['Years in current job'].unique()

In [ ]:
df_test['Years in current job'] = df_test['Years in current job'].str.extract('(\d+)').astype(float).round()

In [ ]:
df_test['Years in current job'].unique()

### Encoding of Categorical data

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()

df_train['Loan Status'] = lb.fit_transform(df_train['Loan Status'])
df_train['Term'] = lb.fit_transform(df_train['Term'])
df_train['Purpose'] = lb.fit_transform(df_train['Purpose'])
df_train['Home Ownership'] = lb.fit_transform(df_train['Home Ownership'])

df_train

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()

df_test['Term'] = lb.fit_transform(df_test['Term'])
df_test['Purpose'] = lb.fit_transform(df_test['Purpose'])
df_test['Home Ownership'] = lb.fit_transform(df_test['Home Ownership'])

df_test

### Addressing the problem of Imbalanced Dataset

In [ ]:
df_train['Loan Status'].value_counts()

In [ ]:
sns.countplot(x='Loan Status',data=df_train)# To be treated as imbalance data set
#1=fully paid 0= Charged Off

In [ ]:
# Resample minority class to equal majority class
from sklearn.utils import resample
minority = df_train[df_train['Loan Status'] == 0]
majority = df_train[df_train['Loan Status'] == 1]

# Upsample the minority class to match the number of majority class samples
minority_upsampled = resample(minority, replace=True, n_samples=len(majority), random_state=42)

# Concatenate the majority class and upsampled minority class
df_train_2 = pd.concat([majority, minority_upsampled], axis=0)

In [ ]:
sns.countplot(x='Loan Status',data=df_train_2)

In [ ]:
df_train_2.head()

In [ ]:
df_test.head()

### Data Normalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler
X=df_train_2.drop(['Loan Status'],axis=1)
X_transform= MinMaxScaler().fit_transform(X)
y = df_train_2['Loan Status']
X_2=df_test

In [ ]:
df_train_2.columns

In [ ]:
df_test.columns

In [ ]:
#X_train=X
#X_test=X_2
#y_train=y
#y_test=

## Training Machine Learning  Classifiers :Random Forest and XGBoost

### Random Forest

In [ ]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_transform, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
# Create a Random Forest Classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the test data
y_pred = rf_classifier.predict(X_test)

# Evaluate the performance
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Additional evaluation metrics
print("Classification Report:\n", classification_report(y_test, y_pred))

# Display confusion matrix
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))

In [ ]:
X_test2 = df_test  # Assuming df_test is your test dataset
y_test_pred = rf_classifier.predict(X_test2)

In [ ]:
y_test_pred

### XGBoost

In [ ]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
# Create an XGBoost classifier
model = xgb.XGBClassifier(objective="multi:softmax", num_class=len(set(y)))

In [ ]:
# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Display classification report
print("Classification Report:")
print(classification_report(y_test, y_pred))

# Obtain the confusion matrix
conf_matrix1 = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix1)

## The idea behind hyperoptimisation is to improved the model's classification ability

### Hyperparameter Optimisation of XGBoost Classifier

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import warnings

# To ignore all warnings
warnings.filterwarnings("ignore")


# Define the hyperparameters and their possible values
param_dist = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Create the randomized search with cross-validation
random_search1 = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_dist,
    n_iter=10,  # Number of parameter settings that are sampled
    cv=3,       # Number of folds in cross-validation
    scoring='accuracy',
    random_state=42
)

# Fit the randomized search to the data
random_search1.fit(X_train, y_train)

# Get the best hyperparameters
best_params = random_search1.best_params_
print("Best Hyperparameters:", best_params)

# Use the best model to make predictions
best_model1 = random_search1.best_estimator_
y_pred = best_model1.predict(X_test)

# Evaluate the performance
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
# Obtain the confusion matrix

conf_matrix2 = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix2)

### Hyperparameter of RandomForest Classifier

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import warnings

# To ignore all warnings
warnings.filterwarnings("ignore")


# Define the hyperparameters and their possible values
param_dist = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Create the randomized search with cross-validation
random_search2 = RandomizedSearchCV(
    estimator=rf_classifier,
    param_distributions=param_dist,
    n_iter=10,  # Number of parameter settings that are sampled
    cv=3,       # Number of folds in cross-validation
    scoring='accuracy',
    random_state=42
)

# Fit the randomized search to the data
random_search2.fit(X_train, y_train)

# Get the best hyperparameters
best_params = random_search2.best_params_
print("Best Hyperparameters:", best_params)

# Use the best model to make predictions
best_model2 = random_search2.best_estimator_
y_pred = best_model2.predict(X_test)

# Evaluate the performance
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")
# Obtain the confusion matrix

conf_matrix3 = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix3)

## Pikling all models

In [ ]:
# Save the trained model to a PKL file
import pickle
with open('rf_classifier.pkl', 'wb') as file:
    pickle.dump(rf_classifier, file)

In [ ]:
# Save the trained model to a PKL file
import pickle
with open('model.pkl', 'wb') as file:
    pickle.dump(model, file)

In [ ]:
# Save the trained model to a PKL file
import pickle
with open('best_model1.pkl', 'wb') as file:
    pickle.dump(best_model1, file)

In [ ]:
# Save the trained model to a PKL file
import pickle
with open('best_model2.pkl', 'wb') as file:
    pickle.dump(best_model2, file)